@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
* {
  margin: 0;
}

html {
  width: 100%;
}

body {
  font-family: Roboto;
  font-size: 16px;
  line-height: 2;
  background-color: #F6F6F6;
}

img {
  max-width: 100%;
}

h2 {
  width: 100%;
  font-size: 24px;
}

header {
  width: 100%;
  background-color: #FFFFFF;
}

.band {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  position: relative;
  z-index: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.band__logo {
  width: 34%;
  max-width: 200px;
}

.localisation {
  width: 100%;
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #353535;
  padding: 10px 0;
}
.localisation__icon {
  margin-right: 15px;
}

.intro {
  max-width: 1100px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  gap: 25px;
}
@media screen and (min-width: 1100px) {
  .intro {
    gap: 40px;
  }
}
.intro__titre {
  width: 50%;
  font-size: clamp(24px, 3vw, 40px);
  font-weight: 700;
  text-align: center;
  line-height: 28px;
}
@media screen and (min-width: 1100px) {
  .intro__titre {
    width: 100%;
  }
}
.intro__txt {
  width: 70%;
  font-size: 18px;
  text-align: center;
  font-weight: 300;
  line-height: 21px;
}
.intro__btn {
  font-size: 18px;
  color: #FFFFFF;
  border: 0;
  border-radius: 25px;
  padding: 20px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.fmt {
  background-color: #FFFFFF;
}
.fmt__container {
  max-width: 1100px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 70px 20px;
}
.fmt__etape {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1100px) {
  .fmt__etape {
    flex-direction: row;
  }
}

.etape-card {
  width: 100%;
  position: relative;
}
@media screen and (min-width: 1100px) {
  .etape-card {
    width: 31%;
  }
}
.etape-card__nb {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  background-color: #9356DC;
  color: #FFFFFF;
  border-radius: 50px;
  text-align: center;
  line-height: 1.7;
}
.etape-card__decription {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 20px 30px;
  border-radius: 20px;
  margin-left: 13px;
}
.etape-card__txt {
  font-weight: bold;
}
.etape-card__icon {
  color: #7E7E7E;
}
.etape-card__icon--violet {
  color: #9356DC;
}

.resto {
  max-width: 1100px;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 70px 20px;
}
.resto__card {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.resto__lien {
  width: 100%;
}

.card {
  width: 100%;
  position: relative;
  display: inline-block;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.card__haut {
  position: relative;
  height: 231px;
}
.card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card__baniere {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 80px;
  height: 29px;
  background-color: #99E2D0;
  text-align: center;
  font-weight: 500;
  color: #278870;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.card__txt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  background-color: #FFFFFF;
  padding: 10px 15px 15px 10px;
  border-radius: 0 0 15px 15px;
}
.card__nom {
  line-height: 1.5;
}

footer {
  min-height: 114px;
  background-color: #353535;
  padding: 20px;
}
@media screen and (min-width: 1100px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    gap: 70px;
  }
}
footer img {
  padding: 10px 0;
}
footer .lien {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1100px) {
  footer .lien {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}
footer .lien__picto {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  color: #FFFFFF;
  text-decoration: none;
}
footer .lien__base {
  color: #FFFFFF;
  text-decoration: none;
}/*# sourceMappingURL=accueil.css.map */