@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

/////////// VARIABLE ////////////

$color-primaire: #9356DC;
$color-secondaire: #FF79DA;
$color-tertiaire: #99E2D0;
$color-fond: #FFFFFF;
$color-fond2: #353535;
$color-fond3: #F6F6F6;


/////////// MIXINS ////////////

@mixin bloc-shadow{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

@mixin bloc-shadow-hover{
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.35);
}

@mixin bloc-shadow2{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

@mixin bloc-shadow3{
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

@mixin bloc-max-with-1100{
    max-width: 1100px;
    margin: auto;
}

@mixin bloc-max-with-634{
    width: 100%;
    max-width: 634px;
    margin: auto;
}

/////////// GLOBAL ////////////

*{
    margin: 0;
}

html{
    width: 100%;
}

body{
    font-family: Roboto;
    font-size: 16px;
    line-height: 2;
    background-color: $color-fond;
}

img{
    max-width: 100%;
}

h2{
    width: 100%;
    font-size: 24px;
}


/////////// HEADER ////////////

header {
    width: 100%;
    background-color: $color-fond;
}

.band{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    position: relative;
    z-index: 1;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

    &__arrow{
        position: absolute;
        top: 26%;
        left: 20px;
        color: #353535;
    }

    &__logo{
        width: 34%;
        max-width: 200px;
    }
}



/////////// FOOTER ////////////

footer{
    min-height: 114px;
    background-color: $color-fond2;
    padding: 20px;

    @media screen and (min-width: 1100px) {
        display: flex;
        flex-direction: row-reverse;
        align-items:end;
        gap: 70px;
    }

    img{
        padding: 10px 0;
    }

    .lien{
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 1100px) {
            display: flex;
            flex-direction: row;
            gap: 40px;
        }

        &__picto{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 20px;
            color: #FFFFFF;
            text-decoration: none;
        }

        &__base{
            color: #FFFFFF;
            text-decoration: none;
        }
    }
}

/////////// MAIN ////////////

.entete{
    

    &__image{
        width: 100%;
        height: 100%;
        max-height: 383px;
        object-fit: cover;
    }

}

// .body-carte{

// }

.carte{
    @include bloc-max-with-1100;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: $color-fond3;
    border-radius: 30px;
    padding: 30px 20px;

    &__head{
        @include bloc-max-with-634;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width: 1100px) {
            justify-content: center;
            gap: 25px;
        }
    }

    &__titre{
        font-family: Shrikhand;
        font-size: 28px;
        font-weight: 400;
    }
}

.plat{
    @include bloc-max-with-634;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &__titre{
        position: relative;
        font-weight: 300;
        text-transform: uppercase;
        
    }

    &__titre::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 60px;
        height: 3px;
        background-color: $color-tertiaire;
    }

    &__card{
        display: flex;
        background-color: $color-fond;
        border-radius: 15px;
        cursor: pointer;
        @include bloc-shadow3;

        &:hover .plat__anim{
            width: 15%;
        }
    }

    &__txt{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        line-height: 1.5;
        padding: 15px;
    }

    &__prix{
        color: $color-fond2;
        font-weight: bold;
    }

    &__anim{
        width: 0%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-tertiaire;
        border-radius: 0px 15px 15px 0px;
        transition: width 0.3s linear;
    }

}


.btn{
    display: flex;
    justify-content: center;

    &__commander{
        width: 50%;
        font-size: 18px;
        color: $color-fond;
        border: 0;
        border-radius: 30px;
        padding: 20px;
        background: linear-gradient(193.33deg, $color-primaire -11.44%, $color-secondaire 123.93%);
        @include bloc-shadow;
        transition-property: opacity, box-shadow;
        transition-duration: 400ms;

        &:hover{
            opacity: 0.9;
            @include bloc-shadow-hover()
        }
    }
    
}