@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
* {
  margin: 0;
}

html {
  width: 100%;
}

body {
  font-family: Roboto;
  font-size: 16px;
  line-height: 2;
  background-color: #FFFFFF;
}

img {
  max-width: 100%;
}

h2 {
  width: 100%;
  font-size: 24px;
}

header {
  width: 100%;
  background-color: #FFFFFF;
}

.band {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px 0;
  position: relative;
  z-index: 1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.band__logo {
  width: 34%;
  max-width: 200px;
}

footer {
  min-height: 114px;
  background-color: #353535;
  padding: 20px;
}
@media screen and (min-width: 1100px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    gap: 70px;
  }
}
footer img {
  padding: 10px 0;
}
footer .lien {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1100px) {
  footer .lien {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}
footer .lien__picto {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  color: #FFFFFF;
  text-decoration: none;
}
footer .lien__base {
  color: #FFFFFF;
  text-decoration: none;
}

.entete__image {
  width: 100%;
  height: 100%;
  max-height: 383px;
  -o-object-fit: cover;
     object-fit: cover;
}

.carte {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #F6F6F6;
  border-radius: 30px;
  padding: 30px 20px;
}
.carte__head {
  width: 100%;
  max-width: 634px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1100px) {
  .carte__head {
    justify-content: center;
    gap: 25px;
  }
}
.carte__titre {
  font-family: Shrikhand;
  font-size: 28px;
  font-weight: 400;
}

.plat {
  width: 100%;
  max-width: 634px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.plat__titre {
  position: relative;
  font-weight: 300;
  text-transform: uppercase;
}
.plat__titre::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 3px;
  background-color: #99E2D0;
}
.plat__card {
  display: flex;
  background-color: #FFFFFF;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.plat__card:hover .plat__anim {
  width: 15%;
}
.plat__txt {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  line-height: 1.5;
  padding: 15px;
}
.plat__prix {
  color: #353535;
  font-weight: bold;
}
.plat__anim {
  width: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  transition: width 0.3s linear;
}

.btn {
  display: flex;
  justify-content: center;
}
.btn__commander {
  width: 50%;
  font-size: 18px;
  color: #FFFFFF;
  border: 0;
  border-radius: 30px;
  padding: 20px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition-property: opacity, box-shadow;
  transition-duration: 400ms;
}
.btn__commander:hover {
  opacity: 0.9;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.35);
}/*# sourceMappingURL=page.css.map */